.idea/
se_med_browser/se_med_browser/__pycache__/
se_med_browser/med_browser/__pycache__/
se_med_browser/med_browser/migrations/__pycache__/
se_med_browser/med_browser/management/__pycache__/
se_med_browser/med_browser/management/commands/__pycache__/
se_med_browser/med_browser/staticfiles/
se_med_browser/staticfiles/