{% load static %}

<html lang="pl" class="theme-dark">
    <head>
        <title>Wyszukiwarka leków</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>
        {% block content %}
            <div class="row">
                <h1>Wyszukiwarka leków</h1>
            </div>
            <div class="row">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    {{ search_form.as_p }}
                    <input type="hidden" name="form_type" value="search">
                    <input type="image" src="{% static 'lupka.png' %}" alt="szukaj">
                </form>
            </div>
            {% if search %}
                {% if med %}
                    <div class="row-right">
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            {{ top_form.as_p }}
                            <input type="hidden" name="form_type" value="top">
                        </form>
                    </div>
                    <div style="overflow-x: auto;">
                        <table>
                            <tr>
                                <th>GTIN</th>
                                <th>Nazwa</th>
                                <th>Substancja czynna</th>
                                <th>Postać</th>
                                <th>Dawka</th>
                                <th>Zawartość opakowania</th>
                                <th>Urzędowa cena zbytu</th>
                                <th>Zakres wskazań objętych refundacją</th>
                                <th>Zakres wskazań pozarejestracyjnych</th>
                                <th>Poziom dopłaty</th>
                                <th>Dopłata świadczeniobiorcy</th>
                            </tr>
                            {% for m in med %}
                                {% if not m.id %}
                                <tr>
                                {% else %}
                                <tr class="alt">
                                {% endif %}
                                    <td rowspan="{{ m.medicine.price_num }}" style="border-left: none"><div>{{ m.medicine.GTIN_number }}</div></td>
                                    <td rowspan="{{ m.medicine.price_num }}"><div>{{ m.medicine.name }}</div></td>
                                    <td rowspan="{{ m.medicine.price_num }}"><div>{{ m.medicine.active_substance }}</div></td>
                                    <td rowspan="{{ m.medicine.price_num }}"><div>{{ m.medicine.form }}</div></td>
                                    <td rowspan="{{ m.medicine.price_num }}"><div>{{ m.medicine.dose }}</div></td>
                                    <td rowspan="{{ m.medicine.price_num }}"><div>{{ m.medicine.package_contents }}</div></td>
                                    {% for price in m.medicine.prices %}
                                        {% if price.counter != 0 and not m.id %}
                                        <tr>
                                        {% elif price.counter != 0 and m.id %}
                                        <tr class="alt">
                                        {% endif %}
                                            <td><div>{{ price.official_trade_price }}</div></td>
                                            <td><div>{{ price.indication_range }}</div></td>
                                            {% if price.off_label_indication_range == "nan" %}
                                                <td><div></div></td>
                                            {% else %}
                                                <td><div>{{ price.off_label_indication_range }}</div></td>
                                            {% endif %}
                                            <td><div>{{ price.payment_level }}</div></td>
                                            <td><div>{{ price.beneficiary_surcharge }}</div></td>
                                        </tr>
                                    {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <div style="height: 10vh"></div>
                    <div class="row">
                        <h2>Brak wyników</h2>
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}
    </body>
</html>